<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Robert Luisi</title>
    <script src="/javascripts/jwplayer.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><%= title %></h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="http://bobbysapps.com/">Home</a>
                <a class="nav-link" href="http://bobbysapps.com/video">Video Clips</a>
                <a class="nav-link active" href="http://bobbysapps.com/aboutMe">About Me</a>
                <a class="nav-link" href="http://bobbysapps.com/AssessmentPlayer">Assessment Player</a>
              </nav>
            </div>
          </div>
            <div class="container">                 
            </div>
          <div class="inner cover">
          <div class="mastfoot">
            <div class="inner">
                
                <p><a href="https://www.jwplayer.com/">JWPlayer App</a>, by <a>Robert Luisi</a>.</p>
            </div>
          </div>

        </div>
        
      </div>
      
    </div>
    <h5>In your own words, define the role or purpose of a ‘Sales Engineer.’</h5>
            <p>A Sales Engineer is the key to delivering the great tech products we have in the world today.</p>
            <p>You can have the best developers in the world, working on the latest tech in the world, but if there isn't a person there to show 
                the customer how the product can be used and WHY they want to use it; It won't be used.  
            </p>
            <p>
                A Sales Engineer also has to be able to project the culture, image and direction of the product/company they're representing onto their prospecting customers as well.
                An important thing a Sales Engineer should do is also be a line of support.  After all, the Sales Engineer is the one who understands their workflow best and did 
                the demo.  However, escalting to technical support is a process that every Sales Engineer should be comfortable with and assist in managing. 
            </p>
            <p>
                Lastly, a Sales Engineer MUST have established a great client relationship to continue to assist in the growth of the clients needs with the product, and/or any other 
                integration that can fit into their workflow. 
            </p>
            <h5>Explain how you would approach working with a customer who has a requirement that we cannot support.</h5>
            <p>I would try and understand WHY the customer is required to use something that we don't support.  If we do not support it, there is likely a reason and workaround. 
                However, if this is something that has been coming up with multiple different accounts/customers, it might be time to speak with product management about 
                Possible "feature requests" of the sort.  
            </p>
            <p>
                In my experience, there is usually a workaround or the customer might be lacking in education on the product.  
                Support cases can be a really handy tool for looking up similar issues and finding workarounds.  It is imperative the client understands we are maxamizing our
                efforts to bring them a working solution.  In some cases, when all avenues are crossed and all resources exhausted you must be prepared to explain this to the customer, 
                without putting them in a frustrated state. 
            </p>
            <h5>During the technical sales cycle there are a few key stages: discovery, providing solutions and evaluation, to name a few. In your experience, what is often the most important piece of the sales cycle?</h5>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>